*{
	margin:0;
	padding:0;
}
/*顶部导航*/
.top{
	background-color: #2189BF;
	padding-left:50px;
	padding-top:10px;
	height:50px;
}
.top .top-right{
	display:inline-block;
	position:absolute;
	margin-top: 5px;
	margin-left: 55%;
}
.top .search-photo{
	position:absolute;
	margin-left: 15px;
	margin-top: 7px;
	cursor:pointer;
}
.top .search{
    width:300px;
    height:30px;
    border-radius:16px;
    outline:none;
    border:0;
    padding-left: 40px;
    display:inline-block;
}
.top .login-photo{
	margin-left: 10px;
}
.top .login{
	font-family: "微软雅黑";
	color:white;
	font-size:14px;
    cursor:pointer;
}

/*内容--左边*/
.body-left{
	float:left;
	width:20%;
	height:1400px;
	background-color: #2A2E3D;
	position:relative;
}
.body-left .left-one-out{
	display:inline-block;
	width:60px;
	height:60px;
	border:1px solid #B9BABE;
	border-radius: 50%;
	margin-left: 50px;
	margin-top: 30px;
}
.body-left .left-one-in{
   width:50px;
   height:50px;
   background-color: #B9BABE;
   border-radius: 50%;   
   margin-top: 5px;
   margin-left: 5px;
}
.body-left .team-name{
	display: inline-block;
	width: 100px;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-family: "黑体";
	font-size: 18px;
	color:white;
	position:absolute;
	margin-top:35px;
}
.body-left .left-two{
	margin-left:50px;
}
.body-left .left-two li{
	display: inline-block;
	list-style: none;
	width:50px;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	color:#515C6F;
	font-weight: bold;
}
.body-left .left-two .left-line{
	width:1px;
	height:30px;
	background-color: #515C6F;
	margin-left: 20px;
}
.body-left .left-two .left-two-r{
	margin-left: 20px;
}
.body-left .left-threen{
    margin-left: 50px;
    margin-top: 50px;
}
.body-left .left-threen li{
	list-style: none;
	margin-top: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
}
.body-left .left-threen .personal-table ul{
	margin-left: 30px;
}
.body-left .left-threen .personal-table,
.body-left .left-threen .personal-table .file-two,
.body-left .left-threen .personal-table .file-two .document-one{
	color:white;
}
.body-left .left-threen .personal-table .file-one,
.body-left .left-threen .personal-table .file-two .document-two,
.body-left .left-threen .personal-table .file-threen,
.body-left .left-threen .personal-collect,
.body-left .left-threen .my-share,
.body-left .left-threen .photo-bank,
.body-left .left-threen .grow-record,
.body-left .left-threen .account-message{
	color:#4E5A6B;
}
/*内容--右边*/
.body-right{
	float:right;
	width:80%;
	height:1400px;
	background-color: #EEEEED;
}
/*顶部*/
.body-right .right-top{
	background-color: white;
	height:30px;
}
.body-right .right-top{
	font-family: "微软雅黑";
	font-size: 12px;
	color:#B2B2B2;
	line-height: 30px;
	padding-left: 20px;
}
.body-right .right-top span{
	color:#7BA4C8;
}
/*中部*/
.body-right .right-center{
	width:90%;
	margin: 0 auto;
}
/*中部：第一项--搜索*/
.body-right .right-center  .check{
	width:100%;
	height:90px;
	background-color: white;
	margin-top: 20px;
	position:relative;
}
.body-right .right-center  .check ul{
	width:80%;
	height:100%;
	display: inline-block;
}
.body-right .right-center  .check ul li{
	list-style: inline;
	display: inline-block;
	margin-top: 15px;
	margin-left: -10px;
}
.body-right .right-center .check .check-num,
.body-right .right-center .check .check-person,
.body-right .right-center .check .count-num,
.body-right .right-center .check .check-person,
.body-right .right-center .check .person-num,
.body-right .right-center .check .succeed-num{
	padding-left: 8px;
	font-size: 14px;
	font-family: "宋体";
	font-weight: bold;
	margin-left: 10px;
    outline:none;
	appearance:none;/*隐藏点select自带的三角符号*/
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.body-right .right-center .check .check-num{
	display: inline-block;
	width:80px;
	height:25px;
}
.body-right .right-center .check .check-item{
	font-size: 14px;
	color:#C4C4C4;
	font-family: "宋体";
	font-weight: bold;
	margin-left: 30px;
}
.body-right .right-center .check .icon-one,
.body-right .right-center .check .icon-two{
    margin-left: -25px;
}
.body-right .right-center .check .check-person{
	display: inline-block;
	width:120px;
	height:25px;
}
.body-right .right-center .check .time{
   display: inline-block;
   width:120px;
   height:25px;
   padding-left: 8px;
   font-size: 14px;
   font-family: "宋体";
   font-weight: bold;
   margin-left: 10px;
   outline:none;
}
.body-right .right-center .check .count-time{
	margin-left: -20px;
}
.body-right .right-center .check .count-num{
	display: inline-block;
	width:80px;
	height:25px;
	margin-left: -3px;
}
.body-right .right-center .check .sell-person,
.body-right .right-center .check .person-count,
.body-right .right-center .check .succeed-item{
	margin-top: 3px;
}
.body-right .right-center .check .sell-person{
	margin-left:167px;
}
.body-right .right-center .check .person-num{
	display: inline-block;
	width:80px;
	height:25px;
}
.body-right .right-center .check .succeed-item{
	margin-left: -18px;
}
.body-right .right-center .check .succeed-num{
	display: inline-block;
	width:120px;
    height:25px;
    margin-left: -2px;
}
.body-right .right-center .check .buy-person,
.body-right .right-center .check .sell-person{
	margin-right: 45px;
}
.body-right .right-center .check .change{
	background:url("image/5.png"); 
	width:27px;
	height:37px; 
	position: absolute;
    margin-top: -65px;
    margin-left: 363px;
}
.body-right .right-center .check .change span{
    font-family: "微软雅黑";
    font-size:12px;
    color:white;
    line-height: 37px;
    margin-left: 14px;
}
.body-right .right-center .check .check-search{
	display: inline-block;
	width:60px;
	height:30px;
	background-color: #388AC1;
	color:white;
	font-family: "宋体";
	font-size:14px; 
	text-align: center;
	line-height: 30px;
	cursor:pointer;
	border-radius:2px;
	margin-left: 30px;
	position:absolute;
	margin-top: 30px;
}
/*中部：第二项--历史查询*/
.body-right .right-center .history-check ul li{
	list-style: none;
	display:inline-block;
	background-color: white;
	margin-left: 1px;
	height:60px;
	text-align: center;
	box-shadow: 0px 0px 1px 1px #C1C1BC inset;
}
.body-right .right-center .history-check .arrow-one{
	width:34px;
    padding-top: 10px;
	line-height:70px;
}
.body-right .right-center .history-check .arrow-one span{
	display: inline-block;
	margin-top: -10px;
	font-size: 30px;
	font-family: "宋体";
	color:#ABABAB;
    cursor:pointer;
}
.body-right .right-center .history-check .data{
	width:113px;
	padding-top:10px;
	margin-top: 10px;
}
.body-right .right-center .history-check .data span{
	font-size: 14px;
	font-family: "宋体";
	font-weight: bold;
}
.body-right .right-center .history-check .data b{
	font-family: "宋体";
	font-size: 14px;
	color:#AAA;
}
.body-right .right-center .history-check .data strong{
	font-family: "宋体";
	font-size: 24px;
	color:#EC6500;
}
.body-right .right-center .history-check .data-first{
	border-top:3px solid #4389C9;
}
.body-right .right-center .history-check .data:hover{
	border-top:3px solid #4389C9;
}
.body-right .right-center .history-check .history{
	width:152px;
	height:50px;
	padding-top: 20px;
	text-align: left;
}
.body-right .right-center .history-check .history img{
	margin-left: 25px;
}
.body-right .right-center .history-check .history span{
	font-family: "微软雅黑";
	font-size: 14px;
    position:absolute;
    margin-top: 8px;
    margin-left: 10px;
}
/*中部：第三项--统计*/
.body-right .right-center .count p{
    font-family: "微软雅黑";
    font-size: 14px;
    margin-top: 20px;
} 
.body-right .right-center .count .calculate li{
    list-style: none;
    display:inline-block;
    width:212px;
    height:90px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #C1C1BC inset;
    position:relative;
}
.body-right .right-center .count .calculate .one,.two,.threen{
	margin-right: 30px;
}
.body-right .right-center .count .calculate .one{
	 border-left:2px solid #43B29D;
}
.body-right .right-center .count .calculate .two{
	 border-left:2px solid #388AC1;
}
.body-right .right-center .count .calculate .threen{
	 border-left:2px solid #D04B36;
}
.body-right .right-center .count .calculate .four{
	 border-left:2px solid #E2CD47;
}
.body-right .right-center .count .calculate  .num{
	font-family: "黑体";
	font-size: 16px;
	line-height: 50px;
	margin-left: 15px;
}
.body-right .right-center .count .calculate .volume{
	font-family: "微软雅黑";
	font-size: 12px;
	color:#B7B7B7;
	font-weight: bold;
	margin-left: 15px;
}
.body-right .right-center .count .calculate .map{
	display: inline-block;
	width:80px;
	height:50px;
	background-color: black;
	position: absolute;
	margin-left: 65px;
	margin-top: -30px;
}
.body-right .right-center .count .calculate .map1{
	background-color:#43B29D;
}
.body-right .right-center .count .calculate .map2{
	background-color:#388AC1;
}
.body-right .right-center .count .calculate .map3{
	background-color:#D04B36;
}
.body-right .right-center .count .calculate .map4{
	background-color:#E2CD47;
}
/*中部：第四项--项目一*/
.body-right .right-center .project-one{
	width:60%;
	height:430px;
	background-color: white;
	box-shadow: 0px 0px 1px 1px #C1C1BC inset;
	border-radius:5px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top: 20px;
}
.body-right .right-center .project-one .item-title,
.body-right .right-center .project-two .item-title,
.body-right .right-center .date .item-title,
.body-right .right-center .list .item-title{
    width:100%;
    height:40px;
	background-color: #F4F5F6;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
	box-shadow: 0px 0px 1px 1px #C1C1BC inset;
}
.body-right .right-center .project-one .item-title p,
.body-right .right-center .project-two .item-title p,
.body-right .right-center .date .item-title p,
.body-right .right-center .list .item-title p{
	line-height: 40px;
	margin-left: 20px;
	color:gray;
}
.body-right .right-center .project-one .item-name{
	margin-top: 20px;
}
.body-right .right-center .project-one .item-name ul{
	margin-left: 20px;
}
.body-right .right-center .project-one .item-name ul li{
	list-style: none;
	display:inline-block;
	width:90px;
	height:30px;
	background-color: #ECECEF;
	line-height: 30px;
	text-align: center;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom: 1px solid #C1C1BC;
}
.body-right .right-center .project-one .item-name ul li a{
	text-decoration: none;
	color:black;
}
.body-right .right-center .project-one .item-name  .item-one{
	border:1px solid #C1C1BC;
	border-bottom-color: white;
	background-color: white;
}
.body-right .right-center .project-one .item-name ul li.select{
	border:1px solid #C1C1BC;
	border-bottom-color: white;
	background-color: white;
}
.body-right .right-center .project-one .item-content{
	width:90%;
	height:320px;
	border:1px solid #C1C1BC;
	margin-left: 20px;
	border-radius:4px;
	border-top-left-radius:0;
	margin-top: -1px;
} 
.body-right .right-center .project-one .item-content .content-one{
	padding-top:30px;
    margin-left: 40px;
}
.body-right .right-center .project-one .item-content .content-one li{
	list-style: none;
}
.body-right .right-center .project-one .item-content .content-one li  ul li{
     list-style: none;
     display:inline-block;
     width:110px;
     height:40px;
     text-align: center;
     line-height: 40px;
     border: 1px solid #C1C1BC;
}
.body-right .right-center .project-one .item-content .content-one li  ul li:first-child{
	margin-left: 0px;
}
.body-right .right-center .project-one .item-content .content-one li  ul li{
	margin-left: -5px;
	border-top: 0px;
	cursor:pointer;
}
.body-right .right-center .project-one .item-content .content-one li:first-child  ul li{
	border-top:1px solid #C1C1BC;
}
.body-right .right-center .project-one .item-content .content-one li  ul li:hover{
	background-color: #ECECEF;
}

/*项目二*/
.body-right .right-center .project-two{
	float:right;
	width:38%;
	height:430px;
	background-color: white;
	box-shadow: 0px 0px 1px 1px #C1C1BC inset;
	border-radius:5px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top: -430px;
}
.body-right .right-center .project-two .other,
.body-right .right-center .project-two .others{
	margin-left: 50px;
	line-height: 25px;
}
.body-right .right-center .project-two .other{
	color:gray;
}
.body-right .right-center .project-two .title{
	margin-top: 30px;
}
.body-right .right-center .project-two ul li{
	list-style:none;
	display: inline-block;
	margin-left:-35px;
	padding-bottom: 10px;
}
.body-right .right-center .project-two ul{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top:1px solid #EAEAEA;
	width:75%;
	margin-left: 50px;
}
.body-right .right-center .project-two ul li:first-child{
	border-right:1px solid #EAEAEA;
	padding-right: 50px;
}
.body-right .right-center .project-two .des{
	border-top:1px solid #EAEAEA;
	margin-top: -10px;
}
.body-right .right-center .project-two .header{
	border-bottom:1px solid #EAEAEA;
	width:75%;
	padding-bottom: 120px;
}
.body-right .right-center .project-two .agreen{
	font-size: 12px;
	margin-left: -1px;
	float:left;
	padding-top:3px;
}
.body-right .right-center .project-two .agreen,
.body-right .right-center .project-two button{
   margin-top: 10px;
}
.body-right .right-center .project-two button{
	border:0px;
	outline:none;
	width:60px;
	height:30px;
	line-height: 30px;
	text-align: center;
	cursor:pointer;
	background-color:#388AC1;
	color:white;
	float:right;
	margin-right:40px;
}
.body-right .right-center .project-two input{
	width:14px;
	height:14px;
	outline:none;
	cursor:pointer;
	background-color:#D5D5D5;
	appearance:none;/*改变元素原有（默认）的风格*/
	-webkit-appearance:none;
	-moz-appearence:none;
	margin-left: 50px;
	float: left;
	margin-right: 10px;
}
.body-right .right-center .project-two input:checked{
	background:url('image/11.png') no-repeat center;
    background-color:#D5D5D5;
}
/*第五项---日历*/
.body-right .right-center .date,
.body-right .right-center .list{
	margin-top:10px;
	height:430px;
	background-color: white;
	box-shadow: 0px 0px 1px 1px #C1C1BC inset;
	border-radius:5px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.body-right .right-center .date{
	width:42%;
	display: inline-block;
}
.body-right .right-center .date  select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	width:70px;
	height:25px;
	line-height:20px;
	margin-top: 10px; 
	margin-left: 5px;
	font-family:"微软雅黑";
	padding-left: 5px;
}
.body-right .right-center .date .select-one{
	 margin-left:35px;
}
.body-right .right-center .date .select-two{
	 width:90px;
}
.body-right .right-center .date .select-threen{
	 width:80px;
}
.body-right .right-center .date img{
	position:absolute;
	margin-left:-17px;
	margin-top: 20px;
}
.body-right .right-center .date ul{
	margin-left: 25px;
	margin-top: 10px;
	border-top: 2px solid #C0DCF1;
	border-bottom: 2px solid #E1E1E1;
	padding-top: 8px;
	padding-bottom: 8px;
	width:85%;
}
.body-right .right-center .date ul li{
	list-style:none;
	display:inline-block;
	margin-left: 30px;
}
.body-right .right-center .date  table{
	margin-top: 10px;
	margin-left:35px;
}
.body-right .right-center .date  table tr{
	margin-top: 10px;
}
.body-right .right-center .date  table tr td{
	text-align:center;
	width:47px;
	height:50px;
}
.body-right .right-center .date  table tr td:hover{
	box-shadow: 0px 0px 1px 1px #F6C62B inset;
}
.body-right .right-center .date .day{
	box-shadow: 0px 0px 1px 1px #F6C62B inset;
}
.body-right .right-center .date .last{
	color:#C9161D;
}
.body-right .right-center .date .festival{
	color:#C9161D;
}
/*汽车品牌榜*/
.body-right .right-center .list{
	width:56%;
	display:inline-block;
    margin-left: 10px;
    float:right;
}
.body-right .right-center .list .list-form{
  margin-top: 20px;
  margin-left: 30px;
}
.body-right .right-center .list ul li{
	list-style: none;
}
.body-right .right-center .list ul li ul li{
	display:inline-block;
	list-style: none;
	margin-left: -5px;
	width:100px;
	height:30px;
	line-height: 30px;
	text-align:center;
	cursor:pointer;
}
.body-right .right-center .list ul li ul:hover{
	background-color:#F4F5F6;
	width:483px;
}
.body-right .right-center .list ul li ul li+li{
	border-top:1px solid  #D1D1D1;
	border-left:1px solid  #D1D1D1;
}
.body-right .right-center .list ul li ul li:first-child{
	margin-left:0px;
	border-top:1px solid  #D1D1D1;
	border-left:1px solid  #D1D1D1;
	width:80px;
}
.body-right .right-center .list ul li ul li:last-child{
	border-right:1px solid  #D1D1D1;
	width:300px;
	text-align:left;
	text-indent: 2em;
}
.body-right .right-center .list ul li ul li p{
	width:180px;
	height:4px;
	background-color:#DCDCDC;
	display:inline-block;
	margin-left: 10px;
}
.body-right .right-center .list ul li ul li p span{
	height:4px;
	position:absolute;
	margin-left: -28px;
}
.body-right .right-center .list .line-one{
	width:150px;
	background-color: #ED6E52;
}
.body-right .right-center .list .line-two{
	width:130px;
	background-color: #EF804F;
}
.body-right .right-center .list .line-threen{
	width:120px;
	background-color: #F19F4F;
}
.body-right .right-center .list .line-four{
	width:110px;
	background-color: #7ECAF0;
}
.body-right .right-center .list .line-five{
	width:100px;
	background-color: #7ECAF0;
}
.body-right .right-center .list .line-six{
	width:80px;
	background-color: #7ECAF0;
}
.body-right .right-center .list .line-seven{
	width:70px;
	background-color: #7ECAF0;
}
.body-right .right-center .list .line-eight{
	width:60px;
	background-color: #7ECAF0;
}
.body-right .right-center .list .line-nine{
	width:50px;
	background-color: #7ECAF0;
}
.body-right .right-center .list .line-ten{
	width:40px;
	background-color: #7ECAF0;
}




